VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_ID=default
VITE_FIREBASE_COLLECTION=centros
VITE_FIREBASE_DOCUMENT_ID=semilla-emprende-negrete
VITE_FIREBASE_SOLICITUDES_COLLECTION=solicitudesEmprendimientos

VITE_AUTHORIZED_EMAILS=
VITE_EMAIL_ADMIN_PASSWORD_HASH=
